<!DOCTYPE html>
<html lang="{{ site.locale }}">

  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">
      <h1>Project Plan</h1>
      <iframe style="position: relative; width:794px; height:1000px;"
        src="https://docs.google.com/document/d/e/2PACX-1vQeDjNnj4maAP4p_MMR3k6SlOiWtHLR6u4vVqPP1hd5iu2Mea6sPKRgH7gvPX64dBma5rNvjsdxbC_9/pub"></iframe>

      <hr>

      <h1>Four-up Charts Spring 2018</h1>
      <iframe style="position: relative; width:794px; height:1000px;"
        src="https://docs.google.com/document/d/e/2PACX-1vQsjIZP9mhrNyE5Gg8aCkOELIKsZKkEn6FTFV7jN4A6852Y3g55HMM8u92AJpISkHwoYHvcGTO0l6rG/pub?embedded=true"></iframe>

      <hr>

      <h1>Four-up Charts Fall 2018</h1>
      <iframe style="position: relative; width:794px; height:1000px;"
        src="https://docs.google.com/document/d/e/2PACX-1vQwvM9GMrwRwXOpZ0gYPRb8NUQSR9TUe3U--JQ9PgRoCAXaWqM4HBVeMqgN5_mlN8hcS9I0JxFMCxrH/pub"></iframe>

      {{ content }}
    </section>

  </body>
</html>
